
html{

	min-height: 100%;
	
}
body {

	background: linear-gradient(0deg, #5a6487, #6d79a3);
	color: black;
	min-height: 100%;
	display: block;

}
.wrapper {

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100%;

}
.header {

	height: 100px;
	margin-top: 30px;
  margin-bottom: 10px;
  font-size: 40px;

}
.inner-header {
	
	color: white;

}

.content {
	
	width: 100%;
  font-size: 22px;
  min-height: calc(100vh - 210px);

}
.inner-content {
	
	color: white;

}

.footer{

 font-size: 23px;
 height: 50px;
 
}
.inner-footer{

 text-align: left;
 color: white;

}

a
{
	color: blue;
}

hr {

  height:1.4px;
  border:none;
  color:#333;
  background-color:#333

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 25px;
  padding: 40px;


}
.grid div {
	
	border: 1px solid white;
	border-radius: 50px;
	
}


.grid div:nth-child(2){

	grid-column: 1 / 2;
	grid-row: 2;

}

.row:after {

  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  
}
.row { display: inline-block; }

* html .row { height: 1%; }
.row { display: block; }